html {
    font-size: 16px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: linear-gradient(180deg, #E6F6F7 0%, #BDDDE7 100%);
}

/* Title */
.home-section-title {
    margin: 100px auto 70px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
    text-align: center;

    color: #020202;
}

.page-title {
    /* 60px navbar */
    padding-top: 140px;
    margin-bottom: 50px;
    
    font-family: Montserrat;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 60px;

    text-align: center;

    color: #020202;
    }

/* Button */

/* wrap for position */
.btn-wrap {
    padding: 0 44px;

    position: absolute;

    left: 0;
    right: 0;
    bottom: -31px;
}

.product-btn {
    max-width: 328px;
    height: 62px;
    margin: 0 auto;
    padding: 4px;
    
    
    background: linear-gradient(180deg, #FFDF8B, #EE870F);
    border-radius: 15px;   
}

.product-btn-inner {
    width: 100%;
    height: 100%;
    padding-top: 8px;


    font-weight: 600;
    font-size: 25px;
    text-align: center;
    
    text-transform: uppercase;

    color: #FFF;
    

    background: -webkit-linear-gradient(180deg, #FFC045 0%, #FB9600);  
    background: -moz-linear-gradient(180deg, #FFC045 0%, #FB9600);  
    background: -o-linear-gradient(180deg, #FFC045 0%, #FB9600);  
    background: linear-gradient(180deg, #FFC045 0%, #FB9600);

    -webkit-transition: background .2s linear;  
    -moz-transition: background .2s linear;  
    -o-transition: background .2s linear;  
    transition: background .2s linear;  

    background-size:1px 200px;  
    border-radius: 15px; 
    cursor:pointer; 

}

.product-btn-inner:hover {
    color: #FFF;

    background-position: 0;  
}


.header {
    height: 100vh;
    position: relative;
}

.navigation {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    z-index: 2;

    background: #FFFFFF;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.25);
}

.navbar {
    min-height: 60px;
}

.navbar-nav .nav-link {
    font-size: 18px;
    font-weight: 600;
}

.navbar-light .navbar-nav .nav-link:focus, .navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active {
    color: #0886A3;
}

.navbar-light .navbar-nav .nav-link {
    color: #020202;
}

/* intro */
.intro {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    color: #FFFFFF;

    background-image: url("img/intro-foto.jpg");
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;

    z-index: 1;
}
.intro-title {
    display: block;
    margin: 14vh auto 40px 9vw;
    max-width: 555px;


    font-family: inherit;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    line-height: 61px;
}

.intro-paragraph {
    display: block;
    margin: 40px auto 40px 9vw;
    max-width: 419px;

    font-family: Montserrat;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
}

/* Pricelist */
.price-list-product{
    margin-top: 160px;
    margin-bottom: 31px;
    padding-top: 160px;
    flex-basis: 416px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #FFFFFF 100%);
    filter: drop-shadow(1px 6px 10px rgba(0, 0, 0, 0.25));
    border-radius: 0px 0px 20px 20px;

    position: relative;
}
.product-photo {
    position: absolute;

    top: -160px;
    left: 0;
    right: 0;

}

.product-title {
    margin: 48px auto 40px;

    text-transform: uppercase;
    font-weight: 700;

}
.product-feetures {
    margin: 0 44px;
    max-width: 100%;
    align-content: start;
    
    text-align: left;
    
}

.product-feature-item {
    margin-top: 20px;
    margin-left: 44px;

    font-size: 16px;
    color: #383943;
    
    position: relative;
}

.feature-item-on::before {
    background-image: url(img/v.svg);
}

.feature-item-off::before {
    background-image: url(img/x.svg);
}

.product-feature-item::before {
    
    content: "";
    display: block;

    width: 20px;
    height: 100%;

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;

    position: absolute;
    
    top: 0;
    bottom: 0;
    left: -43px

}

.product-price {
    margin-top: 40px;
    margin-bottom: 40px;

    font-weight: bold;
    font-size: 50px;
    color: #383943;
}
.product-price span {
    font-size: 30px;
}


/* ------------------
Products-page------- */

.section-title {
    margin-top: 195px;
    margin-bottom: 43px;

    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    display: inline-block;
}

.product-description {
    margin-bottom: 30px;

    max-width: 526px;
}

.img-products {
    margin-left: -70px;
    padding: 0;

    max-width: 797px;
    max-height: 798px;
}

.order {
    margin-left: 34px;

    width: 328px;

    display: inline-block;
}

.product-info {
    margin-left: -58px;
}

.product-order {
    display: inline-flex;
}

.price-text {
    font-size: 3.125rem;
    font-weight: 700;
}

.price-text span {
    font-size: 2rem;
    font-weight: 700;
}

.section-top {
    margin-top: 60px;
}

.section-middle {
    margin-left: 121px;
    margin-top: -150px;
}

.section-bottom {
    margin-top: -150px;
}


/* ------------------
Contacts-page------- */

.contacts-map {
    margin: 140px auto 146px 0;
}

.map {
    border-radius: 20px;
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.4);
}

.contacts {
    margin-top: 156px;
}

.contacts h1 {
    font-size: 50px;
    color: #020202;
    font-weight: 700;

    margin-left: 77px;
    margin-bottom: 58px;
}

.contact-line {
    margin-bottom: 15px;
    margin-left: 77px;
}

.contact-line img {
    margin-right: 16px;
}

.contact-line a {
    text-decoration: none;
    color: #383943;
}

.office-hours {
    max-width: 280px;
    max-height: 148px;

    margin-left: 77px;
}

.office-hours h2 {
    font-size: 1.25rem;
    font-weight: 700;
    color: #383943;
    text-transform: uppercase;

    margin-bottom: 19px;
    margin-top: 60px;
}

.office-hours p {
    font-size: 1rem;
    color: #383943;
    text-transform: uppercase;

    margin: 0 0 4px 0;
}

.office-hours span {
    font-weight: 600;
}


/* ------------------
Form-page------- */

.form-box {
    max-width: 488px;

    margin-top: 92px;
    margin-right: auto;
}

.form-heading {
    margin-top: 151px;

    text-align: center;
    font-size: 3.125rem;
    font-weight: 700;
    color: #020202;
}

.heading {
    font-size: 2rem;
    font-weight: 700;
    color: #383943;
    line-height: 35px;

    margin-top: 36px;
    margin-bottom: 30px;

    display: block;
}

.form-group {
    width: 100%;

    margin-top: 10px;
    margin-right: auto;
    margin-left: -70px;
}

.order-info {
    margin-top: 92px;
    margin-right: auto;
    margin-left: -10px;

    display: flex;
}

.order-info img {
    max-width: 206px;
    max-height: 246px;

    margin-right: 42px;
    margin-left: 152px;
}

.order-description {
    text-transform: uppercase;
}

.order-description p {
    font-size: 1.25rem;

    line-height: 1;
    margin-bottom: 14px;
}

.order-description span {
    font-weight: 700;
    font-size: 1.25rem;
    text-transform: none;

    margin: 0;
}

.form-input {
    width: 100%;
    height: 41px;

    padding: 7px;

    color: #8A8A8A;
    text-indent: 20px;
    font-size: 1rem;
    font-weight: 600;

    border-radius: 5px;
    border: none;

    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.form-input:focus {
    background-color: #ebf4fe;
    
    outline: none;
}

.fieldset {
    margin-top: 40px;
}

.form-checkbox {
    padding: 7px;

    color: #121212;
    text-indent: 5px;
    font-size: 15px;
}

.btn-radio {
    margin-bottom: 16px;
    margin-left: 30px;

    margin-top: -10px;
}

.btn-radio label {
    font-size: 1rem;
    font-weight: 600;
    color: #383943;
}

.agree-box a {
    color:#0886A3;
    text-decoration: none;
}

.agree-box a:hover {
    color: #047690;
    text-decoration: underline;
}

.order-btn {
    margin: 45px auto 145px auto;
}

.radio-box {
    display: flex;
}

.payment-type {
    max-width: 684px;
    max-height: 90px;

    margin: 46px auto 25px auto;

    background-color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    border-radius: 5px;
}

.payment-type p {
    margin-top: 16px;

    display: block;

    text-align: center;
    font-size: 1.25rem;
    font-weight: 700;
    color: #383943;
}

.checkbox-box {
    max-width: 670px;

    margin: auto;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.agree-box {
    margin-right: auto;
    margin-bottom: 9px;
}


/* ------------------
Order success page------- */

.order-success {
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.order-success h1 {
    margin: 310px 20px 20px 20px;
    text-align: center;
    font-size: 2rem;
    color: #020202;
    font-weight: 700;
}

.order-success p {
    max-width: 461px;

    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 60px;

    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
}

.order-success a:hover {
    opacity: 0.8;
}

.success-btn {
    width: 328px;
    height: 62px;
    margin: 0 auto;
    padding: 4px;

    color: white;
    
    
    background: linear-gradient(180deg, #D6F7FF, #1B839B);
    border-radius: 15px;   
}

.success-btn-inner {
    width: 100%;
    height: 100%;
    padding-top: 8px;


    font-weight: 600;
    font-size: 25px;
    text-align: center;
    
    text-transform: uppercase;

    color: #FFFFFF;

    background: linear-gradient(180deg, #9CE8F9 0%, #1097B6 100%);
    border-radius: 15px;
}

.success-btn-inner:hover {
    color: #fff;
    background: linear-gradient(180deg, #1097B6 0%, #1CACCD 100%);
}


/* ------------------
Privacy-policy page------- */

.policy-info h2:nth-of-type(1) {
    margin-top: 72px;
}

.policy-info h2 {
    margin-left: 10px;
    margin-bottom: 25px;
    margin-top: 30px;

    font-size: 2rem;
    font-weight: 700;
    color: #383943;
}

.policy-info p {
    margin-left: 10px;
}

.policy-info span {
    font-weight: 600;
}

.policy-info ul:last-of-type {
    margin-bottom: 80px;
}


/* ------------------
Page rules page------- */

.rules-info p:nth-of-type(1) {
    margin-top: 72px;
}

.rules-info p:last-of-type {
    margin-bottom: 90px;
}

.rules-info h2 {
    margin-left: 10px;
    margin-bottom: 25px;
    margin-top: 30px;

    font-size: 2rem;
    font-weight: 700;
    color: #383943;
}

.rules-info p {
    margin-left: 10px;
}


/* References */
.ref {
    gap: 30px;
}

.ref-item {
    min-height: 393px;

    background: #F5FEFF;
    box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;

}
.ref-photo {
    margin: 38px 56px;
}
.ref-photo img{
    border-radius: 50%;
    filter: drop-shadow(1px 3px 10px rgba(0, 0, 0, 0.4));

}

.ref-desciption {
    padding: 62px 56px;
}

.ref-stars {
    gap: 13px;
}

.ref-name {
    margin: 29px 0 9px;

    font-weight: bold;
    font-size: 32px;
    line-height: 39px;

    color: #383943;

}

.ref-job {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #383943;
}

.ref-text {
    margin-top: 25px;

    font-size: 16px;
    line-height: 20px;
}

.ref-btn {
    margin-top: 40px;
    margin-bottom: 90px;
}

/* blog */
.posts {
    gap: 30px;
}

.post {
    padding: 35px 40px;
    gap: 65px;

    background: #F5FEFF;
    box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.post-photo {
    max-width: 473px;
    width: 100%;

    filter: drop-shadow(1px 3px 10px rgba(0, 0, 0, 0.4));
    border-radius: 5px;
    overflow: hidden;
}
.post-preview {
    width: 100%;
}

.post-title {
    margin-bottom: 8px;
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;

    color: #383943;
}

.post-date {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #383943;

}

.post-summary {
    margin-top: 18px;
    margin-bottom: 32px;
    
    line-height: 24px;

    color: #383943;
}

.post-read-more {
    text-decoration: none;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #0886A3;
}

.post-read-more:hover {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
    text-decoration-line: underline;

    color: #047691;
}

.blog-btn {
    margin-top: 40px;
    margin-bottom: 90px;
}

/* blog page */

.blog-page-photo{
    margin-top: 60px;
}

.blog-title {
    margin-top: 50px;
    margin-bottom: 21px;

    font-weight: bold;
    font-size: 50px;
    line-height: 60px;

    text-align: center;

    color: #020202;
}

.blog-wrap {
    width: 100%;
    max-width: 700px;

}
.blog-date{
    margin-bottom: 10px;
}

.blog-date-inner {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #383943;
}
/* end blog */

/* about */
.about-wrap{
    max-width: 990px;
}

.about-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;

    color: #383943;

}
.about-text strong {
    font-size: 20px;
}

.members {
    gap: 90px;

    margin-bottom: 145px;
}

.member {
    width: 100%;
    max-width: 450px;
  
    background: #F5FEFF;
    box-shadow: 1px 6px 10px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
}

.member-photo {
    margin: 50px 67px 26px;
    filter: drop-shadow(1px 3px 10px rgba(0, 0, 0, 0.4));

}

.member-photo img{
    border-radius: 50%;
}

.member-name {
    
    font-weight: bold;
    font-size: 32px;
    line-height: 39px;

    color: #383943;
}

.member-info {
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;

    color: #383943;
}

.member-text {
    margin: 20px auto 45px;

    width: 100%;
    max-width: 316px;
  
    display: block;

    font-size: 16px;
    line-height: 24px;
}


/* end about */


/* Footer */
.footer {
    padding-top: 32px;
    background: #000;    
}

.footer-main {
    color: #fff;
}

.footer-logo {
    margin-bottom: 57px;
}

.footer-contacts {
    gap: 15px;
}

.footer-contacts-link {
    height: 39px;

    color: #FFFFFF;
}


.footer-contacts-link:hover {
    text-decoration: underline;

    color: #FFFFFF;
}

.footer-link-icon {
    margin-right: 17px;

    width: 26px;
    height: 39px;
}
.footer-main-side {
    max-width: 397px;
}

.newsletter-group {
    margin-top: 11px;
    margin-left: auto;
    margin-right: 0;
}

.newsletter-title {
    text-transform: uppercase;

    font-weight: 600;
    font-size: 20px;
    line-height: 20px;
    color: #FFFFFF;
}

.subscribe input{
    width: 100%;

    margin-left: auto;
    margin-right: 0;

    background: #FFFFFF;
    border-radius: 5px 0px 0px 5px;
   }

.subscribe button {
    background: linear-gradient(180deg, #FFBC58 0%, #FF9900 100%);
    border-radius: 0px 5px 5px 0px;

    text-transform: uppercase;
    font-weight: 600;
    line-height: 20px;

    color: #FFFFFF;
}

.btn-check:active+.btn-warning:focus, .btn-check:checked+.btn-warning:focus, .btn-warning.active:focus, .btn-warning:active:focus, .show>.btn-warning.dropdown-toggle:focus {
    box-shadow: none;
}

.btn-check:focus+.btn-warning, .btn-warning:focus {
    box-shadow: none;
}
.socials {
    margin-top: 39px;
}

.footer-2nd-wrap {
    margin-top: 29px;
    border-top: 1px solid #6A6A6A;
}   

.footer-2nd {
    min-height: 80px;
}

.f2-left {

    font-size: 14px;
    line-height: 17px;

    color: #6A6A6A;
}

.f2-right {
    text-transform: uppercase;
}

.f2-right a {
    text-decoration: none;
    font-size: 14px;
    line-height: 17px;

    color: #6A6A6A;
}
.f2-right a:hover {
    text-decoration: underline;
}


/* fix navigation menu link spaces */
@media (min-width: 768px){
    .navbar-expand-md .navbar-nav .nav-link {
        padding-right: 40px;
        padding-left: 0;

        font-weight: 600;
    }

    .navbar-expand-md .navbar-nav .nav-item:last-of-type>.nav-link {
        padding-right: 0;
    }
}

@media (max-width: 1400px) {

    .home-section-title {
        margin-top: 70px;
    }

    .section-title {
        margin-top: 70px;
    }

    .product-section {
        margin-bottom: 120px;

        justify-content: space-between;
        align-content: center;
    }

    .order {
        width: 270px;
        margin-left: 34px;
    }

    .order-info img {
        margin-left: 0;
    }

    .form-group {
        margin-left: 0;
    }

}

/* lg */
@media (max-width: 1199px) {
    

    /* Title */
    .home-section-title {
        margin: 70px auto 50px;

        font-weight: bold;
        font-size: 40px;
        line-height: 50px;
    }

    .section-title {
        margin: 70px auto 50px;

        font-weight: bold;
        font-size: 40px;
        line-height: 50px;
    }

    .img-products {
        max-height: 468px;
        margin: 40px auto auto -20px;
    }

    .product-section {
        margin-bottom: 200px;
    }

    .order-info img {
        margin-left: 0;
    }
}

/* md */
@media (max-width: 991px) {
    .intro-title {
        margin-top: 5vh;
        margin-left: 4vw;
        
        margin: 9vh auto 40px 9vw;
        
        font-size: 40px;
        line-height: 50px;
    }

    /* Title */
    .home-section-title {
        margin: 40px auto 30px;

        font-weight: bold;
        font-size: 32px;
        line-height: 42px;
    }

    .section-title {
        margin: 40px auto 30px;

        font-weight: bold;
        font-size: 32px;
        line-height: 42px;
    }

    .f2-left,.f2-right {
        padding-top: 8px;
        padding-bottom: 8px;
    }

    .product-info {
        margin-left: 0px;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .img-products {
        margin:auto;
        max-width: 550px;
        max-height: 550px;
        margin-bottom: -30px;
    }

    .product-section {
        display: flex;
        flex-direction: column;
        align-content: center;
        margin: auto;
        margin-bottom: 50px;
    }

    .img-products {
        order: 1;
    }

    .product-info {
        order: 2;
    }
    
    .product-description {
        text-align: center;

        align-self: center;
    }

    .product-order {
        margin: auto;
    }

    .section-middle {
        margin: auto;
    }

    .section-bottom {
        margin-top: 0;
        margin-bottom: 200px;
    }

    .contacts {
        margin-top: 100px;
    }

    .contact-block {
        order: 1;
    }

    .contacts-map {
        order: 2;
        margin-top: 100px;
    }

    .contacts h1 {
        font-size: 2.5rem;

        margin-left: 0;
        margin-bottom: 40px;
        padding-bottom: 10px;
    }

    .contact-line {
        margin-bottom: 15px;
        margin-left: 0;
    }

    .office-hours {
        margin-top: 30px;
    }

    .form-box {
        max-width: 600px;
        margin: auto;
        margin-top: 60px;
    }

    .order-info {
        margin-right: auto;
        margin-left: auto;
        margin-top: 60px;
    }

    .members {
        gap: 60px;
    }
}

/* sm */
@media (max-width: 767px) {
    .intro-title {        
        font-size: 36px;
        line-height: 44px;
    }


    /* Title */
    .home-section-title {
        margin: 36px auto 30px;
    }

    .section-title {
        margin: 36px auto 30px;
    
        font-weight: bold;
        font-size: 24px;
        line-height: 34px;
    }

    .footer-right {
        margin-top: 35px;
    }

    .price-text {
        font-size: 2.5rem;

        align-self: center;
    }
    
    .price-text span {
        font-size: 1.5rem;
    }

    .order {
        width: 150px;
    }

    .office-hours {
        margin-top: 0;
        margin-left: 0;
    }

    .office-hours h2 {
        margin-top: 30px;
    }

    .contact-block h1 {
        font-size: 2.3rem;
    }

    .payment-type {
        max-width: 516px;
        max-height: 250px;

        display: flex;
        flex-direction: column;
    }

    .payment-type div {
        display: block;
        margin-bottom: 15px;
    }

    .payment-type p {
        margin-bottom: 25px;
    }

    .agree-box {
        display: flex;
    }

    .form-checkbox {
        margin-top: 7px;
        margin-right: 10px;
    }

    .form-heading {
        font-size: 2.5rem;
        margin-top: 100px;
    }

    .success-btn {
        width: 240px;
    }

    .success-btn-inner {
        font-size: 1.2rem;

        padding-top: 13px;
    }

    .order-success h1 {
        margin-top: 30vh;
    }

    .policy-info h2 {
        font-size: 1.6rem;
    }

    .rules-info h2 {
        font-size: 1.6rem;
    }
    .members {
        gap: 30px;
    }
}

/* extra small */
@media (max-width: 575px) {
    .ref-photo {
        margin: 38px 16px;
    }

    .ref-desciption {
        padding: 8px 32px;
    }

    .ref-stars {
        height: 20px;
    }

    .price-text {
        font-size: 2rem;

        align-self: center;
    }
    
    .price-text span {
        font-size: 1rem;
    }

    .order {
        width: 130px;
    }

    .section-title {
        font-size: 22px;
    }

    .btn-radio {
        margin-left: 0;
    }

    .btn-radio label {
        font-size: 0.75rem;
    }

    .heading {
        font-size: 1.2rem;
    }

    .order-description p {
        font-size: 0.9rem;
    }

    .order-description span {
        font-size: 0.9rem;
    }

    .form-heading {
        font-size: 2rem;
    }

    .order-info {
        margin-top: 20px;

        margin-right: 15px;
        margin-left: 15px;
    }

    .order-info img {
        max-width: 100px;
        max-height: 100px;

        align-self: center;
    }

    .form-box {
        max-width: 500px;

        margin: auto;
        margin-top: 60px;
    }

    .agree-box label {
        font-size: 0.7rem;
    }

    .form-checkbox {
        margin-top: 2px;
    }

    .order-btn {
        width: 220px;
    }

    .payment-type {
        width:96%;

        margin-left: auto;
        margin-right: auto;
    }

    .payment-type p {
        font-size: 1.1rem;
    }

    .form-input {
        font-size: 0.8rem;
        text-indent: 10px;
    }
}


